.content-area {
	float: left;
	margin: 0 (-$size__site-sidebar) 0 0;
	width: $size__site-main;
}

.site-main {
	margin: 0 $size__site-sidebar 0 0;
}

.site-content .widget-area {
	float: right;
	overflow: hidden;
	padding-left: 40px;
	width: $size__site-sidebar;
}

.site-footer {
	clear: both;
	min-width: 1060px;
	width: $size__site-main;
	
	body.responsive & {
		min-width: 0;
	}
}

.no-active-sidebar:not(.woocommerce):not(.woocommerce-page),
.no-active-sidebar.no-active-wc-sidebar,
.wc-sidebar-none.woocommerce.woocommerce-page {

	.content-area {
		float: none;
		margin: 0;
		width: auto;
	}

	.site-main {
		margin: 0;
	}
}

@media (max-width: 600px) {

	body.responsive {
	
		.content-area {
			float: none;
			margin: 0;
			width: auto;
		}

		.site-main {
			margin: 0;
		}

		.site-content .widget-area {
			float: none;
			padding: 40px 0 0;
			width: 100%;
		}
	}
}
