.container {
	margin: 0 auto;
	max-width: none;
	position: relative;
	padding: 0 20px;
	width: 1040px;

	body.responsive & {
		width: 100%;
		max-width: 1040px;
	}
}

.page-title {
	margin-top: 0;
}

@import "page-settings";
