body.page-layout-no-sidebar,
body.page-layout-full-width,
body.page-layout-stripped {

    .site-main {
        margin: 0;
    }
}

.page-layout-full-width,
.page-layout-full-width-sidebar {

    .site-content .container {
        max-width: 100%;
    }
}

.page-layout-no-masthead-margin {

    #masthead, 
    .masthead-sentinel {
        margin-bottom: 0;
    }
}

.page-layout-no-footer-margin #colophon {
    margin-top: 0;
}

.page-layout-menu-overlap {

    #masthead {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 101;
        opacity: 0.975;
    }

    .masthead-sentinel {
        display: none !important;
    }

    &.admin-bar #masthead{
        top: 32px;

        @media screen and (max-width: 782px) {
            top: 46px;
        }
    }
}
