.layout-sidebar-left:not(.woocommerce):not(.woocommerce-page),
.layout-wc-sidebar-left {

	.content-area {
		float: right;
		margin: 0 0 0 (-$size__site-sidebar);
		width: $size__site-main;
	}

	.site-main {
		margin: 0 0 0 $size__site-sidebar;
	}

	.site-content .widget-area {
		float: left;
		overflow: hidden;
		padding-right: 40px;
		padding-left: 0;
		width: $size__site-sidebar;
	}

	.site-footer {
		clear: both;
		width: $size__site-main;
	}

	&.no-active-sidebar:not(.woocommerce):not(.woocommerce-page) {

		.content-area {
			float: none;
			margin: 0;
			width: auto;
		}

		.site-main {
			margin: 0;
		}

	}
}
