.post-password-form {
	margin-bottom: 1.75em;

	label {
		text-transform: uppercase;
		font-size: 1.2em;
		margin-bottom: 1em;
		display: block;
	}

	input[type="password"] {
		margin-top: 0.4375em;
	}

	> :last-child {
		margin-bottom: 0;
	}
}
