.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Over-riding theme button styles for audio shortcode. */
.mejs-controls .mejs-button button {
	box-shadow: none;
}

/* Fix a hover issue with Media Elements caused by our Button CSS */
.mejs-play > button {
	background: transparent url( '/../../../wp-includes/js/mediaelement/mejs-controls.svg' ) !important;
}

.mejs-pause > button {
	background: transparent url( '/../../../wp-includes/js/mediaelement/mejs-controls.svg' ) -20px 0 !important;
}

.mejs-replay > button {
	background: transparent url( '/../../../wp-includes/js/mediaelement/mejs-controls.svg' ) -160px 0 !important;
}

.mejs-fullscreen-button>button {
	background: transparent url( '/../../../wp-includes/js/mediaelement/mejs-controls.svg' ) -80px 0 !important;
}

.mejs-unfullscreen>button {
	background: transparent url( '/../../../wp-includes/js/mediaelement/mejs-controls.svg' ) -100px 0 !important
}

.mejs-mute>button {
	background: transparent url( '/../../../wp-includes/js/mediaelement/mejs-controls.svg' ) -60px 0 !important;
}

.mejs-unmute>button {
	background: transparent url( '/../../../wp-includes/js/mediaelement/mejs-controls.svg' ) -40px 0 !important;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
@import "captions";

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
@import "galleries";
