body,
button,
input,
select,
textarea {
	color: $color__text_medium;
	font-family: $font__main;
	@include font-size(0.9);
	line-height: $font__line-height-body;
}

@import "headings";

@import "copy";