
.widget-area {

	.widget {
		margin: 0 0 1.5em;

		/* Make sure select elements fit in widgets. */
		select {
			max-width: 100%;
		}

		ul {
			margin-left: 0;
			padding-left: 1.275em;
		}

		ul.menu, &.widget_pages > ul {
			padding-left: 0;

			a {
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}

			&, ul {
				list-style: none;
			}
		}
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

.textwidget {
	> *:first-child {
		margin-top:0px;
	}

	> *:last-child {
		margin-bottom:0px;
	}
}

.search-form {
	position: relative;

	.search-field {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		display: block;
		width: 100%;
		border-radius: 0;
		padding: 8px 15px;
		font-family: $font__detail;
		font-size: 0.9em;

		border-width: 0 0 1px 0;
		border-color: #f0f0f0;

		&:focus {
			background: #fbfbfb;
			outline: none;
		}

		input:-webkit-autofill {
			color: #2a2a2a !important;
		}
	}

}