
.widget-area {

	.widget {
		margin: 0 0 1.5em;

		// Make sure select elements fit in widgets.
		select {
			max-width: 100%;
		}

		ul {
			margin-left: 0;
			padding-left: 1.275em;
		}

		ul.menu, 
		&.widget_pages > ul {
			padding-left: 0;

			a {
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}

			&, 
			ul {
				list-style: none;
			}
		}
	}
}

.textwidget {

	> *:first-child {
		margin-top: 0;
	}

	> *:last-child {
		margin-bottom: 0;
	}
}

// Search form widget.
.widget .search-form {
	width: 100%;

	input[type="search"] {
		width: 100%;
		
		@at-root #secondary & {
			min-width: 0;
		}
	}
}

// Tag cloud widget.
.tagcloud {

	a {
		background: $color__text_meta;
		color: #fff;
		display: inline-block;
		font-size: 0.8em;
		margin-right: 10px;
		margin-bottom:10px;
		line-height: 1em;
		padding: 8px 12px;
		text-decoration: none;
		
		&:hover {
			background: $color__primary_accent_dark;
			color: #fff;
		}
	}
}

// Archive widget.
.widget-area .widget_archive {

	ul {
		padding-left: 0;

		li {
			list-style: none;
			padding: 8px 0;

			&:before {
				content: "-";
			}

			a {
				text-decoration: none;
				padding-left: 10px;
			}
		}
	}

	select {
		background: #fff;
		border-radius: 0;
		font-size: 1.1em;
	}
}

// Categories widget.
.widget-area .widget_categories {

	ul {
		padding-left: 0;

		li {
			list-style: none;
			padding: 8px 0;

			&:before {
				content: "-";
			}

			a {
				text-decoration: none;
				padding-left: 10px;
			}

			ul.children {
				padding-left: 20px;
			}
		}
	}

	select {
		background: #fff;
		border-radius: 0;
		font-size: 1.1em;
	}
}

// Menu widget.
.widget_nav_menu {

	a {
		display: block;
		padding: 10px 0;
	}
}

// Meta widget.
.widget-area .widget_meta {

	ul {
		padding-left: 0;

		li {
			list-style: none;
			padding: 8px 0;

			a {
				text-decoration: none;
			}
		}
	}
}

// Pages widget.
.widget-area .widget_pages {
	ul {
		padding-left: 0;

		li {
			list-style: none;
			padding: 8px 0;

			ul.children {
				padding-left: 20px;
			}

			a {
				text-decoration: none;
			}
		}
	}
}

// Recent comments widget.
.widget-area .widget_recent_comments {

	ul {
		padding-left: 0;

		li {
			list-style: none;
			padding: 8px 0;

			a {
				text-decoration: none;
			}
		}
	}
}

// Recent posts widget.
.widget-area .widget_recent_entries {

	ul {
		padding-left: 0;

		li {
			list-style: none;
			padding: 8px 0;

			a {
				text-decoration: none;
			}

			.post-date {
				color: $color__text_meta;
				display: block;
				font-size: 0.8em;
			}
		}
	}
}

// RSS widget.
.widget-area .widget_rss {

	.widget-title {
	
		a {
			text-decoration: none;
		}
	}

	ul {
		padding-left: 0;

		li {
			border-bottom: #eee 1px solid;
			list-style: none;
			padding: 8px 0;

			a {
				text-decoration: none;
			}

			.rssSummary {
				padding-top: 10px;
			}

			cite, 
			.rss-date {
				color: $color__text_meta;
				display: block;
				font-size: 0.8em;
				padding-top: 4px;
			}
		}
	}
}

// Calendar widget.
.widget-area .widget_calendar {

	a {
		text-decoration: none;
	}

	table {

		caption {
			margin-bottom: 5px;
		}

		tbody {

			td {
				text-align: center;

				&.has-link {
					background: #eee;
				}

			}
		}

		#prev {
			text-align: left;
		}

		#next {
			text-align: right;
		}
	}
}
