html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;

	&.responsive {
		overflow-x: hidden;
	}
}

blockquote, q {
	quotes: '"' '"';
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

figure {
	margin-left: 0;
	margin-right: 0;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

code {
	background: #eee;
	padding: 0 0.3em;
}

#page ::-moz-selection {
  background-color: $color__primary_accent;
  color: #fff;
}

#page ::selection {
  background-color: $color__primary_accent;
  color: #fff;
}

@import "tables";
