@import "colors";
@import "structure";

// Main font families
$font__main: 'Droid Sans', sans-serif;
$font__headings: 'Montserrat', sans-serif;
$font__detail: 'Droid Serif', sans-serif;
$font__menu: 'Droid Sans', sans-serif;

// Support font families
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;

// Font line heights
$font__line-height-body: 1.6;
$font__line-height-entry: 1.8;
$font__line-height-pre: 1.6;

// Colors
$color__primary_accent: #c75d5d;
$color__primary_accent_dark: #a94346;
$color__background-body: #ffffff;

// Text Colors
$color__text_dark: #292929;
$color__text_medium: #595959;
$color__text_light: #898989;
$color__text_meta: #b0b0b0;
$color__text_menu: #898989;
$color__text_menu_hover: #595959;
$color__text_menu_current: #292929;

// Masthead
$masthead__background_color: #fafafa;
$masthead__top_background_color: darken($masthead__background_color, 2.5%);
$masthead__border_color: #d4d4d4;
$masthead__border_width: 1px;
$masthead__padding: 30px;
$masthead__top_padding: 10px;
$masthead__bottom_margin: 30px;

// Navigation colors
$navigation__link_color: $color__text_menu;
$navigation__link_hover_color: $color__text_menu_hover;
$navigation__link_current_color: $color__text_menu_current;
$navigation__dropdown_background_color: $masthead__background_color;
$navigation__dropdown_border_color: $masthead__border_color;

$mobilemenu__background_color: #000;
$mobilemenu__background_opacity: 0.9;
$mobilemenu__text_color: #fff;

$mobile__text_color: #666;
$mobile__icon_color: #777;

// Footer
$footer__background_color: #fafafa;
$footer__border_color: #d4d4d4;
$footer__border_width: 1px;
$footer__top_padding: 40px;
$footer__side_padding: 40px;
$footer__top_margin: 30px;
$footer__widget_title_color: #292929;
$footer__text_color: #595959;
$footer__link_color: #c75d5d;
$footer__link_hover_color: #a94346;

// Comments
$comments__reply_link_color: $color__text_meta;
$comments__reply_background_color: $color__text_dark;
$comments__submit_hover_color: #fff;
$comments__form_background_color: #fff;
$comments__form_focus_background_color: #fcfcfc;

// WooCommerce
$woocommerce__border_color: #d3d3d3;
$woocommerce__background_color: #f4f4f4;
