.main-navigation {
	z-index: 99999;

	font-size: 0.95em;
	text-align: right;

	> div {
		display: inline-block;
	}

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		// First level menu, always visible
		> li {
			display: inline-block;
			padding: 0.25em 0;

			a {
				padding-left: 30px;
				padding-right: 30px;
			}
		}

		a {
			color: $navigation__link_color;

			&:hover {
				color: $navigation__link_hover_color;
			}
		}

		ul {
			position: absolute;
			top: 100%;
			visibility: hidden;
			z-index: 99999;
			opacity: 0;
			text-align: left;
			@include transition (all 0.15s ease-in);
			@include transform-origin(center top);
			@include transform( scale(0.95) );

			background-color: $navigation__dropdown_background_color;
			border: 1px solid $navigation__dropdown_border_color;
			box-shadow: 0 1px 1px rgba(0,0,0,0.075);

			ul {
				left: 100%;
				top: -1px;
				margin-left: 0 !important;
				@include transform-origin(left center);
			}

			li {
				margin: 0;
				padding-bottom: 0;
				min-width: 100%;

				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				box-sizing: border-box;
				white-space: nowrap;
				padding: 0.85em 25px;
				line-height: 1em;
				min-width: 100%;
			}

			li:first-child a {
				padding-top: 1.25em;
			}

			li:last-child a {
				padding-bottom: 1.25em;
			}

			:hover > a,
			.focus > a {
				color: $navigation__link_hover_color;
			}

			a:hover,
			a.focus {
				color: $navigation__link_hover_color;
			}
		}

		li:hover,
		li.focus {
			> ul {
				opacity: 1;
				visibility: visible;
				@include transform( scale(1) );
			}

			&:after {
				content: '';
			}
		}
	}

	.menu {
		> li {
			&.current-menu-item,
			&.current-menu-ancestor {
				> a {
					color: $navigation__link_hover_color;
				}
			}
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {

		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {

	}

	// The responsive menu

	.svg-icon-menu {
		margin: 0 8px;
		float: left;
		width: 24px;
		height: 24px;

		a {
			color: inherit;
		}

		path {
			fill: #666;
			@include transform-origin(left top);
			@include transition(0.4s);
		}
	}

	#mobile-menu-button {
		display: none;
		margin-top: 0.2em;
		font-size: 1.2em;

		color: #777;
		&:hover {
			color: $navigation__link_hover_color;

			.svg-icon-menu .line{
				fill: $navigation__link_hover_color;
			}
		}

		&.to-close {
			$translate_dist: 8.75px;
			$translate_height_correction: 0px;

			.line-1 {
				@include transform( rotate(-45deg) translateY($translate_dist) translateX(-$translate_dist) );

			}

			.line-2 {
				opacity: 0;
				@include transform( translateX($translate_dist * 1.25) );
			}

			.line-3{
				@include transform( rotate(45deg) translateY(-$translate_dist - 2px) translateX(-$translate_dist) );
			}

		}
	}

	// The search icon
	.north-icon-search {
		display: inline-block;
		font-size: 16px;
		cursor: pointer;
		line-height: 16px;
		position: relative;
		top: 2px;
		color: inherit;
	}

	@media screen and (max-width: 600px) {
		body.responsive & {
			#mobile-menu-button {
				display: inline-block;
			}

			ul {
				display: none;
			}

			.north-icon-search {
				display: none;
			}
		}

		#mobile-menu-button {
			display: none;
		}

		ul {
			display: inline-block;
		}

		.north-icon-search {
			display: inline-block;
		}
	}
}

#header-search {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99999;

	background: $masthead__background_color;

	.container, .search-form {
		height: 100%;
	}

	form {
		display: block;
		box-sizing: border-box;
		height: 48px;
		max-height: 100%;

		position: absolute;
		top: 50%;
		margin-top: -24px;
		left: 20px;
		right: 15px + 20px + 24px;
	}

	input[type="search"] {

		width: 100%;
		box-sizing: border-box;
		height: 48px;
		max-height: 100%;

		border-radius: 0;
		background: rgba(0,0,0,0.035);
		border: none;

		font-family: $font__detail;
		right: 20px;
		padding: 0 10px;

		&:focus {
			outline: none;
		}
	}

	button[type="submit"] {
		display: none;
	}

	.svg-icon-close {
		width: 24px;
		height: 24px;
		cursor: pointer;
		position: absolute;
		top: 50%;
		right: 20px;
		margin-top: -12px;

		path {
			fill: #666666;
		}

		@include transition(0.35s);
		@include transform-origin(center center);
		@include transform( scale(0.575) translateX(3px) translateY(-3px) );

		&:hover {
			path {
				fill: #333;
			}
		}

		&.animate-in {
			@include transform( scale(1) rotate(90deg)  );
		}

	}

	@media screen and (max-width: 600px) {
		display: none !important;
	}
}

#mobile-navigation {
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	padding: 15px 20px;

	background: rgba(0,0,0,0.9);
	z-index: 10;

	form {
		display: block;
		width: auto;
		margin-top: 10px;

		input[type="search"] {
			box-sizing: border-box;
			border: none;
			background: transparent;
			border-radius: 0;
			color: #fff;
			border-bottom: 1px solid #fff;
			width: 100%;
			padding: 10px;

			&:focus {
				outline: none;
			}
		}

		button[type="submit"] {
			display: none;
		}
	}

	ul {
		margin: 0;
		list-style: none;
		padding: 0;

		li {
			line-height: 3.5em;
			width: 100%;
			position: relative;

			a {
				display: block;
				text-decoration: none;
				color: #fff;
				width: 100% !important;
			}

			&.menu-item-has-children > a {
				padding-right: 40px;
			}

			.dropdown-toggle {
				background: transparent;
				border: 0;
				color: #fff;
				font-size: 15px;
				position: absolute;
				top: 0;
				right: 5px;
				line-height: 3em;
				outline: none;
				box-shadow: none;
				padding: 5px;
				@include transition (all 0.2s linear);
				@include transform( rotate(90deg) );
				@include transform-origin( 50% 50%);

				&.toggle-open {
					@include transform( rotate(-90deg) );
					right: 3px;
				}
			}
		}

		ul {
			margin: 0;
			padding: 0;
			display: none;

			li {
				padding-left: 2em;

				ul {
					display: none;
				}
			}
		}
	}
}
.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	& .nav-previous {
		float: left;
		width: 50%;

		.north-icon-previous {
			float: left;
			margin: 0.25em 5px;
		}
	}

	& .nav-next {
		float: right;
		text-align: right;
		width: 50%;

		.north-icon-next {
			float: right;
			margin: 0.25em 0 0 5px;
		}
	}

	a {
		text-decoration: none;
	}
}
