.main-navigation {
	position: relative;

	//top: 50%;
	//left: 0px;
	//
	//-webkit-transform: translateY(-50%);
	//-ms-transform: translateY(-50%);
	//transform: translateY(-50%);
	//-webkit-transform-style: preserve-3d;
	//-moz-transform-style: preserve-3d;
	//transform-style: preserve-3d;

	> div {
		@include clearfix();
	}

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		> li {
			margin: 0 30px;
			text-transform: uppercase;
		}

		> li:first-child {
			margin-left: 0;
		}

		> li:last-child {
			margin-right: 0;
		}

		a {
			color: #b8b8b8;

			&:hover {
				color: #292929;
			}
		}

		ul {
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			background-color: #fff;
			border: 1px solid #d4d4d4;

			ul {
				left: -999em;
				top: -1px
			}

			li {
				margin: 0;
				padding: 5px 25px;
				text-transform: none;

				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}
			
			li:first-child {
				padding-top: 10px;
			}

			li:last-child {
				padding-bottom: 10px;
			}

			a {
				white-space: nowrap;
			}

			:hover > a,
			.focus > a {
				color: #292929;
			}

			a:hover,
			a.focus {
				color: #292929;
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
			
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	& .nav-previous {
		float: left;
		width: 50%;
	}

	& .nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
