.woocommerce {

	.woocommerce-ordering {
		float: left;
		margin-right: 20px;
		margin-bottom: 40px;
		cursor: pointer;

		.ordering-selector-wrapper {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;

			font-size: 0.85em;
			display: block;
			border: 1px solid #d3d3d3;
			padding: 10px 25px;
			line-height: 1em;
			position: relative;

			.current {
				display: inline-block;
			}

			.north-icon-next {
				float: right;
				margin: 0 -3px 0 10px;

				-ms-transform: rotate(90deg);
				-webkit-transform: rotate(90deg);
				transform: rotate(90deg);
			}

			.ordering-dropdown {
				list-style: none;
				margin: 0;
				position: absolute;
				z-index: 999;
				top: 100%;
				border: 1px solid #d3d3d3;
				background: white;
				padding: 5px 0;
				left: -1px;
				right: -1px;
				pointer-events: none;

				box-shadow: 0 1px 1px rgba(0,0,0,0.07);

				li {
					cursor: pointer;
					white-space: nowrap;
					padding: 15px 25px;
					color: #888;
					position: relative;

					&:hover {
						color: #292929;
					}
				}


				opacity: 0;
				@include transition (all 0.15s ease-in);
				@include transform-origin(center top);
				@include transform( scale(0.95) );


			}

			&:hover {
				.ordering-dropdown {
					pointer-events: auto;
					opacity: 1;
					@include transform( scale(1) );
				}
			}
		}
	}

	.woocommerce-result-count {
		float: left;
		color: #b1b1b1;
		font-family: $font__detail;
		font-size: 0.85em;
		padding-top: 8px;
	}

	#main {
		ul.products {
			li.product {
				margin: 0 3.8% 2.992em 0;
				width: 30.8%;
				text-align: center;

				@media (max-width: 768px) {
					@at-root body.responsive#{&} {
						width: 48%;
						margin: 0 0 2.992em;
					}
				}

				&.last {
					margin-right: 0;
				}

				h3 {
					color: #292929;
					margin-top: 0;
				}

				.star-rating {
					margin: 0 auto 0.5em auto;
				}

				.price {
					font-family: $font__detail;
					color: $color__primary_accent;
				}
			}
		}
	}



}
