.woocommerce {

	.woocommerce-ordering {
		float: left;
		margin-right: 20px;
		margin-bottom: 40px;
		cursor: pointer;

		.ordering-selector-wrapper {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;

			font-size: 0.85em;
			display: block;
			border: 1px solid $woocommerce__border_color;
			padding: 10px 25px;
			line-height: 1em;
			position: relative;
			color: $color__text_light;

			.current {
				display: inline-block;
			}

			.north-icon-next {
				float: right;
				margin: 0 -3px 0 10px;
				color: $color__text_light;

				@include transform( rotate(0deg) );
				@include transition (all 0.15s ease-in);
			}

			.ordering-dropdown-container {
				left: -1px;
				right: -1px;
				position: absolute;
				z-index: 999;
				top: 100%;
				min-height: 1px;
			}

			.ordering-dropdown {
				list-style: none;
				margin: 0;
				border: 1px solid $woocommerce__border_color;
				background: white;
				padding: 5px 0;
				box-shadow: 0 1px 1px rgba(0,0,0,0.07);
				display: block;
				position: absolute;
				width: 100%;
				top: 0;
				opacity: 0;
				visibility: hidden;

				li {
					cursor: pointer;
					white-space: nowrap;
					padding: 15px 25px;
					color: $color__text_light;
					position: relative;

					&:hover {
						color: $color__text_dark;
					}
				}


				opacity: 0;
				@include transition (all 0.15s ease-in);
				@include transform-origin(center top);
				@include transform( scale(0.95) );


			}

			&.open-dropdown {

				.ordering-dropdown {
					opacity: 1;
					visibility: visible;
					@include transform( scale(1) );
				}

				.north-icon-next {
					@include transform( rotate(90deg) );
					color: $color__text_dark;
				}
			}
		}
	}

	.woocommerce-result-count {
		float: left;
		color: $color__text_meta;
		font-family: $font__detail;
		font-size: 0.85em;
		padding-top: 8px;
	}

	#main {
		ul.products {
			li.product {
				text-align: center;

				@at-root .wc-columns-2#{&} {
					margin: 0 5% 2.992em 0;
					width: 47.5%;
				}

				@at-root .wc-columns-3#{&} {
					margin: 0 3.8% 2.992em 0;
					width: 30.8%;
				}

				@at-root .wc-columns-4#{&} {
					margin: 0 3.333% 2.992em 0;
					width: 22.5%;
				}

				@at-root .wc-columns-5#{&} {
					margin: 0 2.9% 2.992em 0;
					width: 17.68%;
				}

				@media (max-width: 768px) {
					@at-root body.responsive#{&} {
						width: 48%;
						margin: 0 0 2.992em;
					}
				}

				a.added_to_cart {
					font-size: 13px;
				}

				&.last {
					margin-right: 0;
				}

				.onsale {
					padding: 0;
				}

				h3 {
					color: $color__text_dark;
					margin-top: 0;
				}

				.star-rating {
					margin: 0 auto 0.5em auto;
				}

				.price {
					font-family: $font__detail;
					color: $color__primary_accent;
				}
			}
		}
	}
}
