.woocommerce {
	
	.woocommerce-ordering {
		float: left;
		margin-right: 20px;
		margin-bottom: 40px;

		.ordering-selector-wrapper {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;

			font-size: 0.85em;
			display: block;
			border: 1px solid #d0d0d0;
			padding: 10px 25px;
			line-height: 1em;
			position: relative;

			.north-icon-next {
				float: right;
				margin: 1px 0 0 8px;
			}

			.ordering-dropdown {
				list-style: none;
				margin: 0;
				padding: 0;
				position: absolute;
				z-index: 999;
				top: 100%;
				width: auto;
				left: -1px;
				border: 1px solid #d0d0d0;
				background: white;
				padding: 5px 0;
				display: none;
				
				li {
					cursor: pointer;
					white-space: nowrap;
					padding: 15px 25px;
				}
			}

			&:hover {
				.ordering-dropdown {
					display: block;
				}
			}
		}
	}

	.woocommerce-result-count {
		float: left;
		color: #b1b1b1;
		font-family: $font__blockquote;
		font-size: 0.85em;
		padding-top: 8px;
	}
	
	ul.products {
		li.product {
			margin: 0 3.8% 2.992em 0;
			width: 30.8%;
			text-align: center;

			&.last {
				margin-right: 0;
			}
			
			h3 {
				color: #292929;
				margin-top: 0;
			}

			.star-rating {
				margin: 0 auto 0.5em auto;
			}

			.price {
				font-family: $font__blockquote;
				color: $color__link;
			}
		}
	}
	
}