.woocommerce {

	.button.wc-backward {
		border-radius: 0px;
		font-size: 0.85em;
		padding: 10px;
		line-height: 1em;
		box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.25);
		font-family: $font__headings;
		@include transition(0.085s);
		background: transparent;
		border: 1px solid $color__text_dark;
		color: $color__text_dark;

		&:hover {
			background: $color__primary_accent_dark;
			color: #fff;
			border-color: $color__primary_accent_dark;
			box-shadow: none;
		}
	}

	.cart-wrapper {
		border: 1px solid $woocommerce__border_color;
		background: $woocommerce__background_color;
		padding: 15px;
	}

	table {

		th,
		td {
			border: none;
		}

		&.shop_table {
			border: none;
			border-collapse: collapse;
			margin: 0;

			th {
				text-transform: uppercase;
			}

			td {
				border-top: none;
			}

			img {
				max-width: 100px;
				vertical-align: middle;
				width: auto;
			}

			.product-quantity,
			.product-price,
			.product-subtotal {
				text-align: center;
			}

			.cart-item-product-name {
				color: inherit;
				font-weight: bold;
				position: relative;
				text-decoration: none;
			}

			td.product-name dl.variation {
				font-size: 13px;

				dt {
					padding: 0;
				}

				dd	{
					margin: 0;
					padding: 0;

					p {
						margin: 0;
					}
				}
			}

			td.product-price,
			td.product-subtotal {
				color: $color__primary_accent;
			}

			.quantity .qty {
				border: none;
				padding: 0.5em 0;
			}

			.remove {
				width: auto;
				height: auto;
				display: inline-block;
				font-weight: inherit;
				font-size: 1em;
				color: #fff !important;
				padding: 5px 10px;
				background: $color__woo-secondary;
				border-radius: 0;
				float: right;
				margin-bottom: 15px;

				&:hover {
					background-color: $color__primary_accent_dark;
				}
			}

			.coupon {

				.input-text {
					height: 33px;
					min-width: 120px;
				}

				@media (max-width: 768px) {

					.input-text, .button {
						width: 100% !important;
					}

					.button {
						margin-top: 10px;
					}
				}
			}

			.cart_totals {
				border: 1px solid $woocommerce__border_color;
				padding: 20px;

				h2 {
					margin: 0 0 1rem;
					text-align: left;
				}

				th {
					border-top: none;
				}

				.shipping-calculator-form {
					
					.input-text {
						min-width: 140px;
						padding: 7px 15px;
					}
				}

				.amount {
					color: $color__primary_accent;
				}

				.wc-proceed-to-checkout {
					padding: 10px 0;
				}
			}

			.button {
				border-radius: 0px;
				font-size: 0.85em;
				padding: 10px;
				line-height: 1em;
				box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.25);
				font-family: $font__headings;
				@include transition(0.085s);
				background: transparent;
				border: 1px solid $color__text_dark;
				color: $color__text_dark;

				&.button-continue-shopping {
					text-decoration: none;
					text-transform: uppercase;
					font-weight: normal;
					text-align: center;
				}

				&.checkout-button {
					background: $color__primary_accent;
					border: 1px solid $color__primary_accent;
					color: #fff;
					text-transform: uppercase;

					@media (max-width: 768px) {
						text-align: center;
					}
				}

				&:hover {
					background: $color__primary_accent_dark;
					color: #fff;
					border-color: $color__primary_accent_dark;
					box-shadow: none;
				}
			}

			@media (max-width: 768px) {

				tbody tr.cart_item {

					td.product-thumbnail {
						display: block !important;
						padding-top: 15px;

						&:before {
							content: "";
						}

						img {
							margin-right: 5px;
							max-width: 60px;
						}
					}

					.product-remove {
						padding-bottom: 15px;

						.remove {
							float: none;
							margin-bottom: 0;
						}
					}
				}
			}

			.coupon {
				margin-top: 25px;
				padding-bottom: 0 !important;
			}

			.cart-buttons {
				float: right;
				margin-top: 25px;

				@media (max-width: 768px) {
					float: none;

					.button {
						margin-top: 0.5em;
						width: 100% !important;
					}
				}
			}

			.wc-buttons {

				tbody,
				tr,
				td {
					display: flex;
					width: 100%;
				}

				td {
					flex-wrap: wrap;
					gap: 0.25em;
					justify-content: right;
				}

				.coupon {
					flex: 1;
					text-align: left;
				}

				.actions > .button {
					margin-top: 25px;
					order: 2;
				}

				.actions .cart-buttons {
					order: 3;
				}

				@media (max-width: 768px) {
					.cart-buttons {
						width: 100%;
					}

					.button {
						margin-top: 0;
					}

					.button.checkout-button,
					.coupon .button {
						margin-top: 10px;
					}

				}
			}

		}
	}

	.so-panel .wc-proceed-to-checkout .checkout-button {
		background: #c75d5d;
		border: 1px solid #c75d5d;
		color: #fff;
		text-transform: uppercase;

		&:focus,
		&:hover {
			background: #a94346;
			border-color: #a94346;
			box-shadow: none;
			color: #fff;
		}
	}
}

body:not(.no-active-sidebar) {

	.woocommerce table.shop_table .wc-buttons {
		.coupon {
			flex-basis: 100%;
			flex-grow: 1;
			order: 1;
			text-align: right;

			.input-text {
				float: none;
			}
		}

		.actions > .button,
		.cart-buttons {
			margin-top: 10px;
		}
	}
}

#mobile-navigation {
	.shopping-cart-link {
		margin-top: 1em;
		text-decoration: none;
		color: $mobilemenu__text_color;
		float: left;

		> * {
			float: left;
		}

		.north-icon-cart {
			float: left;
			margin: 2px 0.75em 0 0;
			font-size: 16px;
		}

		.shopping-cart-count {
			line-height: 1em;
			margin: 1px 0 0 1em;
			font-size: 10px;
			padding: 4px;
			border: 2px solid rgba( $mobilemenu__text_color, 0.8 );
			border-radius: 50%;
			min-width: 21px;
			text-align: center;
		}
	}
}

.main-navigation {

	.shopping-cart {
		display: inline-block;
		margin-left: 0.8em;
		position: relative;

		> li > a {
			padding: 0;
		}

		.shopping-cart-text {
			display: none;
		}

		.north-icon-cart {
			border: 2px solid transparent;
			border-radius: 50%;
			display: inline-block;
			color: $navigation__link_color;
			cursor: pointer;
			font-size: 16px;
			line-height: 16px;
			padding: 5px;
			position: relative;
			top: 2px;
		}

		&:hover {

			.north-icon-cart {
				background: $color__primary_accent_dark;
				color: #fff;
			}

			.shopping-cart-count {
				background: $color__primary_accent_dark padding-box;
			}
		}

		.shopping-cart-count {
			background: $color__primary_accent;
			border: 2px solid #fff;
			border-radius: 9px;
			color: #fff;
			font-size: 9px;
			padding: 3px 5px;
			position: relative;
			left: -11px;
			top: -16px;
		}

		.shopping-cart-dropdown {
			right: 0;
			width: 350px;

			.product_list_widget {
				max-height: 60vh;
				overflow-y: auto;
				padding: 2px 0;
			}

			.mini_cart_item a {
				white-space: normal;
			}
		}
	}
}

.widget_shopping_cart {

	.widget_shopping_cart_content {
		padding: 15px !important;

		.cart_list {
			padding-left: 0;

			.empty {
				margin: 0;
			}

			.mini_cart_item {
				box-sizing: border-box;
				display: block;
				margin: 0 0 15px 0;
				padding: 0;
				position: relative;
				
				&:last-of-type {
					margin-bottom: 12px;
				}

				a {
					color: $color__text_dark;
					font-weight: 700;
					line-height: normal;
					margin: 0 0 7px 0;
					padding: 0 20px 0 0;
					text-decoration: none;
				}

				img {
					float: left;
					line-height: 0;
					margin: 0 16px 0 0;
					width: 65px;
				}

				.quantity {
					color: $color__primary_accent;
					margin: 0;
				}

				.remove {
					color: $color__woo-secondary !important;
					left: initial;
					line-height: 1;
					min-width: 15px;
					position: absolute;
					right: 0;

					&:hover {
						background: transparent;
						color: $color__primary_accent_dark !important;
					}
				}
			}
		}

		.total {
			border-top: none !important;
			margin: 0;
			padding: 0;
			text-align: center;
		}

		.buttons {
			text-align: center;
			text-transform: uppercase;
			margin: 10px 0 0 0;
			padding-top: 0;

			a {
				font-weight: normal;
				border-radius: 0px;
				font-size: 0.85em;
				padding: 10px;
				line-height: 1em;
				box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.25);
				font-family: $font__headings;
				min-width: inherit;
				text-decoration: none;
				text-transform: uppercase;
				text-shadow: none;
				@include transition(0.085s);

				&:first-of-type {
					background: transparent;
					border: 1px solid $color__text_dark;
					color: $color__text_dark;
				}

				&.checkout {
					background: $color__primary_accent;
					border: 1px solid $color__primary_accent;
					color: #fff;
				}

				&:hover {
					background: $color__primary_accent_dark;
					color: #fff;
					border-color: $color__primary_accent_dark;
					box-shadow: none;
				}
			}
		}
	}
}

.shopping-cart-dropdown {
	background-color: $navigation__dropdown_background_color;
	border: 1px solid $navigation__dropdown_border_color;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
	max-width: 300px;
	opacity: 0;
	position: absolute;
	text-align: left;
	top: 100%;
	@include transition (all 0.15s ease-in);
	@include transform-origin(center top);
	@include transform( scale(0.95) );
	visibility: hidden;
	z-index: 99999;
}

.woocommerce-cart {

	.cart-collaterals {

		.cross-sells {
			width: 100%;
		}
	}
}
