.woocommerce.single #content div.product {

	.entry-thumbnail {
		float: left;
		width: 35%;
	}

	.entry-content-wrapper {
		margin-left: 35%;
		padding-left: 25px;
	}

	.cart {
		.quantity {
			display: inline-block;
			float: left;
			margin: -1px 6px 0 0;

			input {
				padding: 5px 6px;
			}
		}
	}

	span.onsale {
		padding: 0;
	}

	p.price {
		margin: 0;
		float: right;
		color: $color__primary_accent;
		font-family: $font__detail;
		font-size: 1.2em;
		line-height: 2.5;
	}

	div.entry-summary {
		margin-top: 0;
		width: 54%;
		float: right;

		@media (max-width: 768px) {
			@at-root body.responsive#{&} {
				width: 100%;
				float: none;
			}
		}
	}

	div.images {
		width: 42%;
		float: left;

		.woocommerce-product-gallery__trigger {
			top: 1em;
		}

		.flex-control-thumbs {
			margin-top: 15px;

			li {
				margin: 0 1.5% 1.5% 0;
				width: 23.875%;

				&:nth-child(4n) {
					margin-right: 0;
				}
			}
		}

		@media (max-width: 768px) {
			@at-root body.responsive#{&} {
				width: 100%;
				float: none;
			}
		}
	}

	.woocommerce-product-rating {
		.woocommerce-review-link {
			color: $color__text_medium;
			text-decoration: none;
			font-size: 0.9em;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.single_add_to_cart_button {
		float: left;
	}

	.woocommerce-tabs {
		.tabs {
			padding-left: 0;
			margin-left: 0;
			border-bottom: none !important;

			li {
				border: 1px solid $woocommerce__border_color;
				background: transparent;
				border-radius: 0;
				font-size: 0.9em;
				margin: 0 10px 0 0;

				a {
					color: $color__text_dark;
					font-weight: normal;
				}

				&.active {
					background: $color__primary_accent;
					border-color: $color__primary_accent;

					a {
						color: #fff;
						font-weight: normal;
					}
				}

				&:before, &:after {
					display: none !important;
				}
			}

			&:before, &:after {
				display: none !important;
			}
		}

		.panel {
			> *:first-child {
				margin-top: 0;
			}
		}
	}

	.product-under-title-meta {
		margin-top: -0.5em;
		color: $color__text_medium;
		font-size: 0.8em;
		margin-bottom: 1em;
		line-height: 1.4em;
	}

	#comments h2 {
		margin-top: 0;
		color: $color__text_dark;
		font-size: 1.3em;
	}

}
