.woocommerce #reviews{

	#comments {
		ol.commentlist {
			padding-left: 0;

			li {

				img.avatar {
					border: 0;
					padding: 0;
					width: 60px;
					height: 60px;
				}

				.comment-text {
					margin-left: 85px;
					border: none;
					padding: 0;

				}
			}
		}
	}

	#review_form_wrapper {
		.comment-reply-title {
			margin: 1em 0;
		}

		.stars {
			display: inline-block;
			margin-bottom: 0;
			position: relative;
			top: 5px;
			left: 10px;
		}

		.comment-form-comment {
			padding: 0 15px;
		}

		.comment-form-author,
		.comment-form-email {
			width: 35%;
		}
	}
}
