.woocommerce {
	.widget-area {

		// Shopping cart
		.widget_shopping_cart {
			.widget_shopping_cart_content {
				padding: 0;

				.mini_cart_item {
					a {
						text-decoration: none;
					}
				}

				.total,
				.buttons {
					text-align: left;
				}
			}
		}

		// Pricing filter
		.widget_price_filter {
			.ui-slider {
				background-color: $color__primary_accent;

				.ui-slider-range,
				.ui-slider-handle {
					background-color: $color__primary_accent_dark;
				}
			}

			.price_slider_amount {
				.button {
					background: transparent;
					border-radius: 0;
					border: 1px solid $color__text_dark;
					color: $color__text_dark;
					font-weight: normal;

					&:hover {
						background: $color__primary_accent_dark;
						color: #fff;
						border-color: $color__primary_accent_dark;
						box-shadow: none;
					}
				}
			}
		}

		// Product categories
		.widget_product_categories {
			ul {
				padding-left: 0;

				li {
					list-style: none;
					padding: 8px 0;

					&:before {
						content: "-";
					}

					a {
						text-decoration: none;
						padding-left: 10px;
					}

					ul.children {
						padding-left: 20px;
					}
				}
			}

			select {
				font-size: 1.1em;
				border-radius: 0;
				background: #fff;
				outline: none;
			}
		}

		.widget_layered_nav {
			ul {
				padding-left: 0;

				li {
					a {
						padding: 8px 35px 8px 10px;
						display: inline-block;
						text-decoration: none;
					}

					.count {
						position: relative;
						left: -35px;
					}

					&.chosen {
						a {
							color: #fff;
							background: $color__primary_accent;

							&:before {
								color: #fff;
							}

							&:hover {
								background: $color__primary_accent_dark;
							}
						}

						.count {
							color: #fff;
						}
					}
				}
			}

			select {
				font-size: 1.1em;
				border-radius: 0;
				background: #fff;
				outline: none;
			}
		}

		.widget_layered_nav_filters {
			ul {
				padding-left: 0;

				li {
					a {
						padding: 8px 10px;
						display: inline-block;
						text-decoration: none;
					}

					&.chosen {
						a {
							color: #fff;
							background: $color__primary_accent;

							&:before {
								color: #fff;
							}

							&:hover {
								background: $color__primary_accent_dark;
							}
						}
					}
				}
			}
		}

	}
}
