.woocommerce {

	// Product Loop
	ul.products {
		li.product {
			.yith-wcwl-add-to-wishlist {

				.yith-wcwl-wishlistaddedbrowse,
				.yith-wcwl-wishlistexistsbrowse,
				.yith-wcwl-add-button {
					a {
						position: absolute;
						top: 10px;
						left: 10px;
						width: 25px;
						height: 25px;
						overflow: hidden;
						color: $color__primary_accent_dark;
						visibility: hidden;
						opacity: 0;
						font-size: 20px;

						&:before {
							font-family: 'north-icons';
							content: "\e610";
						}
					}

					.feedback {
						display: none;
					}
				}

				.yith-wcwl-add-button .add_to_wishlist {
					color: $color__text_meta;

					&:hover {
						color: $color__primary_accent;
					}
				}

				.ajax-loading {
					position: absolute;
					top: 40px;
					left: 10px;
				}
			}

			&:hover {
				.yith-wcwl-add-button,
				.yith-wcwl-wishlistaddedbrowse,
				.yith-wcwl-wishlistexistsbrowse {
					a {
						visibility: visible;
						opacity: 0.85;

						&:hover {
							opacity: 1;
						}
					}
				}
			}
		}
	}

	// Single product
	&.single #content div.product {
		.yith-wcwl-add-to-wishlist {
			.yith-wcwl-wishlistaddedbrowse,
			.yith-wcwl-add-button {
				a {
					text-decoration: none;
					&:before {
						font-family: 'north-icons';
						content: "\e610";
					}
				}
			}

			.yith-wcwl-wishlistexistsbrowse {
				a {
					text-decoration: none;
				}

				.feedback {
					&:before {
						font-family: 'north-icons';
						content: "\e610\00a0";
					}
				}
			}

			.yith-wcwl-add-button .add_to_wishlist {
				color: $color__text_meta;

				&:hover {
					color: $color__primary_accent_dark;
				}
			}
		}
	}
}
