#colophon {

	margin-top: $footer__top_margin;
	color: $color__text_medium;

	.widgets {
		@include clearfix();

		border-top: $footer__border_width solid $footer__border_color;
		width: 100%;
		
		aside {
			background: #fafafa;
			box-sizing: border-box;
			float: left;
			border-right: $footer__border_width solid $footer__border_color;
			padding: $footer__top_padding $footer__side_padding;
			margin: 0;

			&:last-child {
				border-right: 0;
			}
		}

		@for $i from 1 through 10 {
			&.widgets-#{$i} aside{
				width: 100% / $i;
			}
		}

		.widget-title {
			color: $color__text-main;
			margin: 0 0 1em 0;
			font-size: 15px;
			text-transform: uppercase;
		}


	}

	.site-info {
		border-top: $footer__border_width solid $footer__border_color;
		text-align: center;
		padding: 15px;
		font-size: 0.9em;
	}
}