#colophon {
	background: $footer__background_color;
	color: $color__text_medium;
	margin-top: $footer__top_margin;
	
	&.footer-active-sidebar {
		border-top: $footer__border_width solid $footer__border_color;
	}

	.widgets {
		@include clearfix();
		overflow: hidden;
		width: 100%;
		
		.widget-wrapper {
			box-sizing: border-box;
			float: left;
			border-right: $footer__border_width solid $footer__border_color;

			padding-bottom: 9999px;
			margin-bottom: -9999px;

			&:last-child {
				border-right: none;
			}
		}

		aside {
			padding: $footer__top_padding $footer__side_padding;
			margin: 0;

			&:last-child {
				border-right: 0;
			}
		}

		@for $i from 1 through 10 {
			&.widgets-#{$i} .widget-wrapper{
				width: 100% / $i;
			}
		}

		.widget-title {
			color: $color__text_dark;
			margin: 0 0 1em 0;
			font-size: 15px;
			text-transform: uppercase;
		}

		@media (max-width: 640px) {
			body.responsive & {
				.widget-wrapper {
					float: none;
					width: 100% !important;
					padding-bottom: 0;
					margin-bottom: 0;
					border-right: none;
					border-bottom: $footer__border_width solid $footer__border_color;

					&:last-child {
						border-bottom: none;
					}
				}
			}
		}


	}

	.site-info {
		border-top: $footer__border_width solid $footer__border_color;
		text-align: center;
		padding: 15px;
		font-size: 0.9em;
	}

	&.unconstrained-footer {
		.container {
			max-width: none;
		}
	}
}

#scroll-to-top {
	line-height: 0;
	position: fixed;
	bottom: 20px;
	right: 20px;
	margin-left: -22px;
	background: rgba(0,0,0,0.65);
	padding: 18px;
	border-radius: 36px;
	border-color: transparent;
	cursor: pointer;
	z-index: 101;

	opacity: 0;
	pointer-events: none;
	@include transform( scale(0.85) );

	@include transition(0.35s);

	.svg-icon-to-top path {
		fill: #fff;
	}

	img,
	svg {
		height: 24px;
		width: 24px;
	}

	img,
	svg {
		@include transition(0.35s);
	}

	img,
	svg {
		display: block;
		@include transform-origin(center center);
		@include transform( rotate(-90deg) );
	}

	&.show {
		opacity: 1;
		@include transform( scale(1) );

		img,
		svg {
			@include transform( rotate(0deg) );
		}
	}

	@media (max-width: 600px) {
		padding: 10px;

		img,
		svg {
			height: 16px;
			width: 16px;
		}

		body.responsive:not(.mobile-scroll-to-top) & {
			display: none !important;
		}
	}
}
