#masthead {
	background: $masthead__background_color;
	border-bottom: $masthead__border_width solid $masthead__border_color;
	padding: $masthead__padding 0;
	position: relative;
	margin-bottom: $masthead__bottom_margin;
	width: 100%;

	.container-inner {
		display: table;
		width: 100%;
	}

	.site-branding {
		padding-right: 20px;

		.site-title {
			margin: 0;
			color: #292929;
			font-size: 1.5em;
			line-height: 1.2em;
			white-space: nowrap;

			a {
				text-decoration: none;
				color: inherit;
			}
		}

		.site-description {
			margin: 0;
			font-size: 0.9em;
		}

		img {
			max-width: none;
		}
	}

	.site-branding, .main-navigation {
		display: table-cell;
		vertical-align: middle;
	}
	
}

#site-navigation {
}