#masthead {
	background: $masthead__background_color;
	border-bottom: $masthead__border_width solid $masthead__border_color;
	margin-bottom: $masthead__bottom_margin;
	min-width: 1060px;
	padding: $masthead__padding 0;
	position: relative;
	width: 100%;
	z-index: 999;

	@at-root {
		.sticky-menu:not(.no-topbar) & {
			position: relative;
			top: auto;
		}

		.sticky-menu.no-topbar &,
		.sticky-menu.topbar-out & {
			position: relative;
			top: 0;
			left: 0;
			width: 100%;
			@include clearfix;
		}

		.sticky-menu.topbar-out.admin-bar & {
			top: 32px;

			@media screen and (max-width: 782px) {
				top: 46px;
			}

			@media screen and (max-width: 600px) {
				position: absolute;
				top: auto;

				&.mobile-sticky-menu {
					position: fixed;
					top: 0;
				}
			}
		}
	}

	.container-inner {
		display: table;
		width: 100%;
	}

	.site-branding {
		background: red !important;
		padding-right: 20px;

		> * {
			@include transform-origin( left center );

			@at-root .layout-centered#{&} {
				@include transform-origin( center center );
			}
		}

		.site-title,
		.logo-site-title {
			margin: 0;
			color: $color__text_dark;
			font-family: $font__headings;
			font-size: 1.5em;
			line-height: 1.2em;
			white-space: nowrap;

			a {
				text-decoration: none;
				color: inherit;
			}
		}

		.logo-site-title {
			display: inline-block;
			vertical-align: bottom;
		}

		.site-description {
			margin: 0.25em 0 0 0;
			font-size: 0.9em;
		}

		img {
			display: inline-block;
			vertical-align: middle;
		}
	}

	.site-branding, 
	.main-navigation {
		display: table-cell;
		vertical-align: middle;
	}

	&.floating {
		box-shadow: 0 1px 1px rgba(0, 0, 0 , .075);
	}

	// Header layouts.
	&.layout-centered {

		.container-inner {
			display: block;
		}

		.site-branding {
			margin: 0 auto $masthead__padding auto;
			padding: 0;
			text-align: center;

			img {
				display: inline-block;
			}
		}

		.main-navigation {
			text-align: center;
		}

		.site-branding, .main-navigation {
			display: block;
		}
	}

	body.responsive & {
		min-width: 0;
	}
}

.masthead-sentinel {
	box-sizing: border-box;
	margin-bottom: $masthead__bottom_margin;
}

#topbar {
	width: 100%;
	min-width: 1060px;
	background: $masthead__top_background_color;
	border-bottom: $masthead__border_width solid $masthead__border_color;
	position: relative;
	z-index: 1000;

	p {
		text-align: right;
		line-height: 3em;
		margin: 0;
		font-size: 0.8em;
		color: $color__text_light;
	}

	body.responsive & {
		min-width: 0;
	}

	#topbar-widgets {
		@include clearfix;
		padding-top: $masthead__top_padding;
		padding-bottom: $masthead__top_padding;

		.widgets {

			@for $i from 1 through 10 {
				$margin: ($i - 1) * 2.5;
				&.widgets-#{$i} .widget {
					width: (100% - $margin) / $i;
				}
			}

			.widget {
				box-sizing: content-box;
				margin-right: 2.5%;
				float: left;

				&:last-of-type {
					margin-right: 0 !important;
				}

				@media (max-width: 768px) {
					float: none;
					margin: 0 0 10px;
					width: 100% !important;
				}

				.widget-title {
					font-size: 1.1em;
					margin-top: 0;
				}
			}
		}
	}
}
