#masthead {
	background: $masthead__background_color;
	border-bottom: $masthead__border_width solid $masthead__border_color;
	padding: $masthead__padding 0;
	position: relative;
	margin-bottom: $masthead__bottom_margin;

	width: 100%;
	position: relative;

	.container-inner {
		@include clearfix();
	}

	.site-branding {
		margin-right: 50px;
		float: left;

		.site-title {
			margin: 0;
			color: #292929;
			font-size: 1.5em;
			line-height: 1.2em;

			a {
				text-decoration: none;
				color: inherit;
			}
		}

		.site-description {
			margin: 0;
			font-size: 0.9em;
		}
	}

	.main-navigation {
	}
	
}