.sticky {
	display: block;
}

article.page, article.post {

	> *:first-child {
		margin-top: 0;
	}

	> *:last-child {
		margin-bottom: 0;
	}
}

article.post {
	margin-bottom: 80px;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.entry-video,
.entry-image {
	margin-bottom: 20px;
}

.flexslider.gallery-format-slider {
	border: none;

	.flex-direction-nav a {

		&.flex-prev:before {
			background-color: rgba(0, 0, 0, 0.5);
			background-repeat: no-repeat;
			background-image: url('images/flex-left.svg');
			background-position: 10px 11px;
			opacity: 1;
		}

		&.flex-next:before {
			background-color: rgba(0, 0, 0, 0.5);
			background-repeat: no-repeat;
			background-image: url('images/flex-right.svg');
			background-position: 11px 11px;
			opacity: 1;
		}
	}

	.flex-direction-nav .flex-prev:hover,
	.flex-direction-nav .flex-next:hover {
		background: transparent !important;
	}

	.flex-direction-nav {

			@media (max-width: 860px) {

				.flex-prev {
					left: 0;
				}

				.flex-next {
					right: 0;
				}
			}

			a {
				height: 50px;
				top: 49.166%;
				margin-top: -25px;
				width: 40px;

			&:before {
				background: none;
				content: "";
				height: 50px;
				opacity: 0;
				padding: 0;
				@include transition(1s);
				transition-property: opacity;
				width: 40px;
			}
		}
	}

	.flex-control-nav {

		li {
			padding: 0;

			a {
				background-color: rgba(0, 0, 0, 0.3);
				height: 7px;
				width: 7px;

				&.flex-active {
					background-color: rgba(0, 0, 0, 0.7);
				}
			}
		}
	}
}

.entry-thumbnail {
	margin-bottom: 20px;
	position: relative;

	img {
		display: block;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
		height: auto;
	}

	.thumbnail-hover {
		&, .north-icon-add {
			@include transition(all 0.15s);
		}

		z-index: 5;
		width: 60px;
		height: 60px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -30px;
		margin-left: -30px;
		border-radius: 30px;
		background: #000000;
		padding: 15px;

		pointer-events: none;

		opacity: 0.4;

		-ms-transform: scale(0, 0);
		-webkit-transform: scale(0, 0);
		transform: scale(0, 0);

		.north-icon-add {
			font-size: 30px;
			color: #fff;

			-ms-transform: scale(2,2);
			-webkit-transform: scale(2,2);
			transform: scale(2,2);
		}
	}

	&:hover .thumbnail-hover {
		-ms-transform: scale(1,1);
		-webkit-transform: scale(1,1);
		transform: scale(1,1);

		.north-icon-add {
			-ms-transform: scale(1,1);
			-webkit-transform: scale(1,1);
			transform: scale(1,1);
		}
	}
}

.entry-title {
	margin: 0 0 1em 0;
	color: $color__text_dark;
	font-size: 1.6em;

	a {
		color: inherit;
		text-decoration: none;
	}
}

.entry-meta {
	margin: -15px 0 25px 0;
	padding: 0;
	list-style:none;
	font-family: $font__detail;
	font-size: 0.85em;

	li, & a, & .meta-icon {
		color: $color__text_meta;
		text-decoration: none;

		@include transition(all 0.35s);
	}

	a:hover {
		text-decoration: underline;

		time {
			text-decoration: underline;
		}
	}

	li {
		display: inline-block;
		margin-right: 12px;

		.meta-icon {
			float: left;
			font-size: 15px;
			margin-top: 1px;
			margin-right: 6px;
		}

		&.posted-on {
			.updated {
				display: none;
			}

			.published {
				display: inline-block;
			}
		}

		&.post-comments {
			.meta-icon {
				font-size: 18px;
				margin-top: 1px;
			}
		}

		&.hovering {
			&, & a, & .meta-icon {
				color: $color__primary_accent_dark;
			}
		}
	}
}

.breadcrumbs {
	margin-bottom: 1.5em;
	margin-top: -1.5em;
	font-style: italic;
	font-size: 0.85em;
	font-family: $font__detail;
	color: $color__text_light;

	a {
		color: inherit;
		text-decoration: none;

		&:hover {
			color: $color__primary_accent_dark;
			text-decoration: underline;
		}
	}
}

.page-content,
.entry-content,
.entry-summary {
	color: $color__text_medium;
	margin: 15px 0;
	line-height: $font__line-height-entry;

	> *:first-child {
		margin-top: 0;
	}

	> *:last-child {
		margin-bottom: 0;
	}

	ul, ol, li {
		padding: 0;
	}
}

.cat-links {
	font-size: 13px; 
}

.tags-list {
	margin-top: 1em;
	a {
		background: $color__text_meta;
		color: #fff;
		display: inline-block;
		margin-right: 10px;
		margin-bottom:10px;
		text-decoration: none;
		line-height: 1em;
		font-size: 0.8em;
		padding: 8px 12px;

		&:hover {
			background: $color__primary_accent_dark;
			color: #fff;
		}
	}
}

.author-box {
	margin: 20px 0;
	padding: 20px;
	background: rgba(0,0,0,0.05);

	.author-title {
		margin-top: 0;
		line-height: 1;
		font-size: 1.25em;

		.author-info {
			font-size: 0.6em;
			padding: 0 5px;
			font-weight: bold;

			a {
				text-decoration: none;
			}
		}
	}

	.author-avatar {
		float: left;
	}

	.author-description {
		margin-left: 120px;
	}
}

.more-link {
	font-size: 0.85em;
	float: right;
	border: 1px solid $color__text_dark;
	padding: 10px 30px;
	line-height: 1em;
	box-shadow: inset 0 0 1px rgba(0,0,0,0.25);
	text-decoration: none;
	color: $color__text_dark;
	font-family: $font__headings;
	text-transform: uppercase;

	&:visited {
		color: $color__text_dark;
	}

	&:hover{
		background: $color__primary_accent;
		border-color: $color__primary_accent;
		color: #fff;
		box-shadow: none;
	}
}


.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
