#secondary {

	color: $color__text_medium;

	aside {
		margin-bottom: 60px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.widget-title {
		color: $color__text_dark;
		margin: 0 0 1em 0;
		font-size: 1em;
		text-transform: uppercase;
	}
}